@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    
}

body {
    background-color: var(--dark-cyan);
    margin: 0;
    padding: 50px;
    font-family: 'Kumbh Sans', sans-serif;
}

h1 span {
    font-weight: 400;
    color: gray;
}

.card {
    background: url(/images/bg-pattern-card.svg) repeat-x white;  
    border-radius: 20px;
    text-align: center;
    padding-top: 80px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 10px 0;
}

.social h3 small {
    display: block;
    color: var(--dark-grayish-blue);
    font-weight: 400;
    padding-top: 8px;
    letter-spacing: 2px;
}

.image {
    border-radius: 50%;
    border: 10px solid white;
}
